{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="row">
    {% for course in pagination.items %}
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <a href="{{ course.url }}">
            <img class="card-img-top" src="{{ course.image_url }}" alt="Course Image">
            <div class="card-body">
              <h5 class="card-title course-name">{{ course.name }}</h5>
              <p class="card-text course-description">{{ course.description }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  {{ render_pagination(pagination, 'front.index') }}
{% endblock %}